* { 
    box-sizing: border-box;
    display: flex;
    max-width: 100vw;
    height: 100vh;
    flex-direction: column;
}
body{
    margin: 0;
    height: 90%;
    width: 99%;
}
header {
    width: 100%;
    height: 10%;
    justify-content: center;
}
#boardSizeDropdown {
    width: 10%;
    height: 100%;
}
.htmlGameBoard {
    width: 100%;
    height: 100%;
    border: 6px solid black;
    flex-flow: row nowrap;
    /* z-index: -1; */
}
.styleColumn {
    margin: 0;
    padding: 1%;
    width: 14.25%;
    height: 100%;
    background-color: rgba(175, 123, 60, 0.651);
    flex-flow: column-reverse;
    flex: 1%;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.styleSlot {
    margin: 2%;
    width: 100%;
    height: 15%;
    background-color: green;
    flex: 1%;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.styleToken {
    height: 80%;
    width: 80%;
    background-color: aqua;
    border-radius: 50%;
}






head{
    display: none;
}
script{
    display: none;
}