* { 
    box-sizing: border-box;
    display: flex;
    max-width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
    height: 100%;
    width: 99%;
}
.htmlGameBoard {
    width: 100%;
    height: 100%;
    border: 6px solid black;
    flex-flow: row no-wrap;
}
.styleColumn {
    margin: 0;
    padding: 1%;
    width: 14.25%;
    background-color: darkorange;
    flex-flow: row no-wrap;
    flex: 1 1 1;
}
.styleSlot {
    margin: 2%;
    width: 80%;
    background-color: green;
    flex-flow: row no-wrap;
    flex: 1 1 1;z
}
.styleToken {
    width: 80%;
    background-color: double aqua;
}




head{
    display: none;
}
script{
    display: none;
}